/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

img {
    width: 25%;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

#content {
    background-color: #f4f4f9;
    margin-top: 20px;
    padding: 20px;
    font-family: 'Lora', 'Times New Roman', Times, serif;
}

body {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    background-color: #095b71;
}

.site-logo-header {
    width: 30%;
}

h1 {
    margin-top: 5px;
}

#hamburgerBtn {
    margin: .2rem 2vw;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgba(0,0,0,0.3);
    font-size: 2rem;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

nav {
    background-color: #586f7c;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

#nav-bar {
    list-style-type: none;
    padding: 0;
    display: flex;
	flex-direction: column;
}

#nav-bar li {
    flex: 1 1 auto;
}

nav ul li a {
    display: block;
    min-width: 70px;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,.2);
}

nav a:link, nav a:visited {
    color: #f4f4f9;
}

nav a:hover {
    /* color: #586f7c; */
    background-color: #2f4550;
}  

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

/* FOOTER */

footer {
    border-radius: 20px 20px 20px 20px;
    padding: 2%;
    color: #f4f4f9;
    font-family: 'Lora', 'Times New Roman', Times, serif;
}

.line {
    border-bottom: 2px solid #586f7c;
    display: block;
    margin: 10px;
}

.modDate {
    margin-bottom: .5em;
}