@media only screen and (min-width: 32.5em){
    body {
        font-size: 18px;
    }
    #welcome {
        display: block;
    }
    .site-logo-header {
        width: 20%;
    }
    button {
        padding: 5px;
    }
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hero {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .hero p {
        padding-left: 20px;
    }
    .news {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .spotlights {
        grid-column: 1/4;
        grid-row: 3/4;
        display: flex;
        font-size: .8em;
    }
    .join {
        grid-column: 1/4;
        grid-row: 4/5;
        display: block;
    }
    .event {
        grid-column: 1/3;
        width: 95%;
    }
    .weather {
        grid-column: 3/4;
        height: 10em;
        flex-direction: column;
    }
    .cloudy {
        margin: 0;
    }
    .wind {
        margin: 5px;
    }
    /* .hero, .event,
    .weather, .news, .join {
        height: 150px;
    } */
    section div {
        width: 50%;
        height: 150px;
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .images img {
        width: 40%;
    }
    .images img:hover {
        box-shadow: 0 0 50px #333;
    }
    .footer-content-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .site-logo-footer {
        width: 40%;
        grid-column: 1/2;
        grid-row: 1/4;
        justify-self: center;
        align-self: center;
    }
    .map {
        display: flex;
        align-self: center;
        justify-content: center;
    }
}
