@media only screen and (min-width: 1000px){
    .site-logo {
        width: 25%;
    }
    .head-title {
        margin-bottom: 10px;
        font-size: 3em;
    }
    .socials {
        width: 4%;
        float: right;
        margin: 10px;
    }
    .hide {
        display:inline;
    }
    #nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        margin-bottom: 25px;
    }
    nav button {
        display: none;
    }   
    .welcome {
        margin-bottom: 10px;
        font-size: 2em;
    }
    h3 {
        font-size: 1.4em;
    }
    .weather-icon {
        width: 25%;
    }
    .coast-info {
        grid-column: 1/4;
    }
    .drink {
        grid-column: 2/4;
    }
    /* ul.drink-button li {
        margin-right: 19%;
    } */
    .about-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .contact-form {
        justify-content: center;
    }
    .getInTouch {
        font-size: 1.5em;
    }
    .contactUs ul.drink-button {
        margin-right: 20%;
    }
    .site-logo-footer {
        width: 20%;
    }
}