@media only screen and (min-width: 32.5em){
    body {
        font-size: 18px;
    }
    .nav-bar {
        flex-direction: row;
        margin: 0;
    }
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .coast-info {
        grid-column: 1/3;
    }
    .weather-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .weather-info p {
        margin: 5px;
    }
    .weather-icon {
        width: 30%;
    }
    .drink {
        grid-column: 1/4;
    }
    .drink h3 {
        margin-top: 2em;
    }
    .smoothies {
        float: left;
        margin: 10px;
        width: 40%;
    }
    ul.drink-button li {
        margin: 0 auto;
    }
    .recipes {
        grid-column: 1/4;
    }
    form {
        max-width: 50%;
    }
    form label.top input, 
    form label.top textarea {
        max-width: 20rem;
    }
    form fieldset {
        max-width: 22rem;
    }
    .drink-results {
        max-width: 70%;
    }
    .drink-results div {
        margin-left: 20%;
    }
    .about-grid {
        grid-template-rows: 47em 1fr;
    }
    .contact-form {
        max-width: 60%;    
    }    
}