@font-face {
    font-family: 'Lora', 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro&display=swap);
    font-display: swap;
}

h2, h3, h4 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

#content {
    background-color: #f4f4f9;
    margin: 20px;
    padding: 20px;
    font-family: 'Lora', 'Times New Roman', Times, serif;
}

body {
    text-align: center;
    margin: 0 auto;
    background-color: #c43331;
}

.site-logo {
    width: 50%;
}

.head-title {
    margin: 0;
    font-size: 2.5em;
}

.socials {
    width: 8%;
}

/* NAVIGATION */

nav {
    background-color: #f4f4f9;
    border: 2px solid rgb(0, 0, 0, .5);
    line-height: 3em;
    text-align: left;
    font-size: 1.2em;
}

button {
    margin: 17px 10px 10px 10px;
}

.hide {
    display: none;
}

#nav-bar {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#nav-bar li {
    flex: 1 1 auto;
}

nav ul {
    margin-top: 0;
}

nav ul li a {
    height: 30px;
    display: block;
    min-width: 60px;
    text-decoration: none;
}

nav a {
    padding:1em;
    min-width: 70px;
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: #0f77bd;
    /* color: rgb(0, 0, 0, 0.8); */
}

nav a:hover {
    color: #c43331;
}  

/* HOME STUFF */

.div {
    border: 2px solid darkgray;
    margin: 10px;
}

div.coast-info p {
    margin: 10px;
}

div.weather-info h3 {
    margin-bottom: 0;
}

.weather-icon {
    display: block;
    margin: 0 auto;
    width: 15%;
}

ul.drink-button {
    padding: 0;
}

ul.drink-button li {
    max-width: 10rem;
    padding: 10px;
    margin: 0 auto;
    list-style: none;
    border: 2px solid darkgray;
    background-color: #f8bd4f;
}

ul.drink-button li a {
    text-decoration: none;
    color: black;
}

.smoothies {
    width: 50%;
    margin-top: 10px;
    border-radius: 30px;
}

/* FRESH */

.fresh-welcome {
    font-size: 2rem;
}

form {
    font-size: 16px;
    border: 1px solid #095b71;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
    max-width: 50%;
    margin: 2rem auto;
}

form fieldset {
    text-align: left;
    margin: 2rem auto;
    border: 1px solid #095b71;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
    max-width: 22rem;
}

form legend {
    font-size: 20px;
    color: #095b71;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    font-size: 16px;
}

form label.top input, 
form label.top textarea {
    display: block;
    font-size: 16px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.top textarea {
    height: 150px;
}

form label.sbs {
    display: block;
    padding: .5rem;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    margin-bottom: .75rem;
}

form label.top select {
    -webkit-appearance: none;
    display:block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
    margin: 10px;
}

form label.top input:required {
    border-left: #9c2c13 solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.drink-results {
    border: 1px solid #095b71;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
    max-width: 50%;
    margin: 2rem auto;
}

.drink-results div {
    text-align: left;
    margin-left: 20%;
    padding: 5px;
    color: #095b71;
    font-size: 1.2rem;
}

.drink-results div span {
    color: black;
    font-size: 1rem;
    margin-left: 15px;
}

.hide-div {
    display: none;
}

/* FOOTER */

footer {
    background-color: #f4f4f9;
    margin: 20px;
    padding: 20px;
}

.site-logo-footer {
    width: 25%;
}

.map {
    text-decoration: none;
    color: black;
}

.line {
    border-bottom: 2px solid #586f7c;
    display: block;
    margin: 10px;
}

.modDate {
    margin-bottom: .5em;
}